<html>
    <body>
        <ul>
            {% for post in posts %}
            <li>
                Username : {{ post.user.username }} <br>
                Post : {{ post.content }} <br>
                <!-- on récupère tous les tags via la méthode .all()--> 
                Tags : {% if post.tags.all %}
                <!-- on parcourt les tags et on affiche chacun d'entre eux-->
                            {% for tag in post.tags.all %} 
                            <!-- ajout d'une gestion de virugle si plusieurs tags-->
                                {{tag.tag}} {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Aucun tag
                        {% endif %}
                        <br>
                Date : {{ post.created_at }} 
                <br>
                Commentaires: {% if post.parent_id.all %}
                                    {% for comment in post.parent_id.all %}
                                        <!--afficher contenu correspondant au parent_id-->
                                            {% if comment == post.id.all %}
                                                {{post.id.content}} {% if not forloop.last %}, {% endif %}
                                            {% endif %}
                                    {% endfor %}        
                                {% else %}
                                    Aucun commentaire
                                {% endif %}             
                                <br> 
            </li> <br>
            {% endfor %}
        </ul>
    </body>  
</html>