<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Little Books</title>
    {% load static %}
  </head>
  <body>
    <body>
      <div id="profile"></div>
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/src/main.js"></script>
      <script type="text/javascript">
        window.postsContentUsername = JSON.parse(
          "{{ posts_content_username|escapejs }}"
        );
        window.users = JSON.parse("{{ users|escapejs }}");
      </script>
    </body>
  </body>
</html>

{% comment %} Username, BIO, posts, Nb de posts, subcribers, subscription {%
endcomment %}
