<!doctype html>
<html lang="en">

<head>
    <title>My Little Books</title>
</head>

<body>
    <div id="side-bar">
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        <p>Logged out!</p>
        <a href="{% url 'login'%}">Click here to login again.</a>
    </content>
</body>

</html>
