{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users_app/style.css' %}">
    <title>My Little Books</title>
</head>

<body>
    <div id="side-bar">
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        <p>Logged out!<br>
            <a href="{% url 'login'%}">Click here to login again.</a>
        </p>
    </content>
</body>

</html>
