{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users_app/style.css' %}" />
    <title>My Little Books</title>
  </head>

  <body>
    <div id="title">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
        </svg>
        <h1>bookface</h1>
    </div>
    <div id="side-bar">
      <ul class="sidebar-nav">
        {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Logout</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
    <div id="login-container">
        {% if form.errors %}
            <p>
                Your username and password didn't match. Please try again.
            </p>
        {% endif %} 
        {% if next %} 
            {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. To proceed, please login
                with an account that has access.
            </p>
            {% else %}
            <p>
                Please login to see this page.
            </p>
            {% endif %} 
        {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table id="form-details">
          <tr>
            {% comment %}
            <td>{{ form.username.label_tag }}</td>
            {% endcomment %}
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            {% comment %}
            <td>{{ form.password.label_tag }}</td>
            {% endcomment %}
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <input id="login-button" type="submit" value="Se connecter" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      {# Assumes you set up the password_reset view in your URLconf #}
      <p>
        Pas de compte ?
        <a href="#"><strong>S'inscrire</strong></a>
      </p>
    </div>
  </body>
</html>
